In [2]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

import the csv spotify dataset using pandas

In [13]:
import pandas as pd

# Load the data
df = pd.read_csv('kaggle_spotify_training_set/spotify_millsongdata.csv')

#we will get the shape, display the dataframe(first items(head)) and see if there is any null values.
df.shape
df.head()
#df.isnull().sum()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

we will drop the link column as it is not useful for our analysis coze we only need the artist, song and text(lyrics)

In [14]:
#we will drop the link column as it is not useful for our analysis coze we only need the artist, song and text(lyrics)
df = df.drop(['link'], axis=1).reset_index(drop=True)

we will only use like 5000 samples not 57thousand+.

In [15]:
df = df.sample(5000)
df.shape

(5000, 3)

we will ow clean up the lyrics(text), by removing the regexs and making the texts small letters

In [19]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ', regex=True).replace(r'\n', ' ', regex=True)
df.head()

,artist,song,text
5981,Fastball,Airstream,"airstream, i hrom irstrea \r eav h orl ehin ..."
20711,Venom,Die Hard,"satan, athe \r el ro hi rav \r \r emons, ..."
41174,Lana Del Rey,Come When You Call Me America,"r \r \r om he o al e, \r om he o al..."
4644,Eagles,Try And Love Again,whe o u her ou w \r her ou emorie a in o \...
16604,Queens Of The Stone Age,Back To Dungaree High,"id ea ur o n, a \r us ann anc n in ong, ..."

we will now tokenize out lyrics(texts). like we will make words that are similar like beautiful, beautifully, beauty into one single token them stem them.so we will use nltk and nltk stem porter

In [22]:
%pip install nltk

Requirement already satisfied: nltk in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from nltk) (2024.7.24)
Requirement already satisfied: tqdm in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\hp\onedrive\documents\py-spotly\python-spotly\my_virtual_env\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import nltk
from nltk.stem import PorterStemmer

In [39]:
# Download necessary NLTK data (if not already done)
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [40]:
# Initialize the Porter stemmer
stemmer = PorterStemmer()

In [37]:
# we will create a token method that will take a text and return a list of token
def tokenize(txt):
    token = nltk.word_tokenize(txt)
    #use the stemmer to stem each token
    steamed = [stemmer.stem(t) for t in token]
    return " ".join(steamed)

In [3]:
import nltk
#nltk.download()
from nltk.stem import PorterStemmer

# Download necessary NLTK data
nltk.download('punkt')

# Create a stemmer instance
stemmer = PorterStemmer()

# Define the tokenize method
def tokenize(txt):
    tokens = nltk.word_tokenize(txt)
    # Use the stemmer to stem each token
    stemmed = [stemmer.stem(t) for t in tokens]
    return " ".join(stemmed)

# Test the tokenize method
print(tokenize("I love your beautiful, beauty and lovely face thats full of love"))

i love your beauti , beauti and love face that full of love

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!